<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>628789744078-eadc32r34t4i9dmpath2dddek650i61f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628789744078-eadc32r34t4i9dmpath2dddek650i61f</string>
	<key>API_KEY</key>
	<string>AIzaSyBr7IossGAGn5hCdLkMt4s6iKXekXwSAEw</string>
	<key>GCM_SENDER_ID</key>
	<string>628789744078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PantherHackers.hackGSU</string>
	<key>PROJECT_ID</key>
	<string>hackgsu-20b92</string>
	<key>STORAGE_BUCKET</key>
	<string>hackgsu-20b92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:628789744078:ios:0503645a7ad7036b</string>
	<key>DATABASE_URL</key>
	<string>https://hackgsu-20b92.firebaseio.com</string>
</dict>
</plist>